---
layout: home
title: stoutpirate
desctiption: sailing the dark nets, bringing home the goods
---
<nav>
<ul class="posts">
	{% for post in site.posts limit:10 %}
	<li class="article-link">
	<a href="{{ post.url }}" class="h3">{{ post.title | truncatewords: 9 }}</a>
	<small>
		<date>{{ post.date | date_to_string }}</date>
	</small>
	</li>
	{% if forloop.length == 10 %}
		{% if forloop.last == true %}
			<li class="archive"><a href="/archive/" class="btn" title="archive">...From the beginning</a></li>
		{% endif %}
	{% endif %}
	{% endfor %}
</ul>
</nav>